body {
  background: #8E7A7A;
}

.lexend-mega {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.name {
  text-align: center;
  font-size: 48px;
  color:#5F3D41;
  padding: 20px 0;
}

.nav {
  width: 70%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 20px;
  color: #5F3D41;
  gap: 15%;
  width: 100%;
  justify-content: center;
}

nav ul li:last-child {
  margin-right: 0;           
}

hr {
  width: 70%;
  margin: 0 auto;
  background-color:#5F3D41;
  border: none;
  height: 2px;
}